@charset "UTF-8";
/* グローバルスタイル */
ul {
  list-style: none;
  padding: 10px 0;
}

img {
  width: 100%;
  object-fit: cover;
}

h2 {
  font-size: 32px;
  text-decoration: underline;
  margin: 0 0 60px;
  text-align: center;
}

h3 {
  margin: 10px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: lightgrey;
}

/* ヘッダー */
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.site-title {
  flex: 2;
  line-height: 1px;
  padding: 10px 0;
}

.site-title img {
  height: 40px;
  width: 120px;
}

.mainHeader nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li:not(:last-child) {
  margin-right: 10px;
}

/* メインビジュアル */
.mainvisual img {
  max-width: 1920px;
  height: 600px;
  margin-bottom: 80px;
}

/* メインエリア */
.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Aboutセクション */
.about,
.favFurniture {
  padding: 0 4%;
  margin: 0 auto 100px auto;
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(100px 1fr);
}

.about img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  grid-column: 1;
}
.aboutText {
  grid-column: 2;
}

.favFurniture ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.favFurniture li {
  flex: 1;
}

.favFurniture img {
  width: 270px;
  height: 180px;
}

@media screen and (max-width: 668px) {
  .favFurniture ul {
    flex-direction: column;
  }
}
